* {
    box-sizing: border-box;
  }

  html{
    background-image: url('../../images/bg.jpg');
  }
  
  input[type=text], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .goTo {
    background-color: #f1962d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .goTo2 {
    color: gray;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .send {
    background-color: #f1962d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sendDisabled {
    background-color: #837b71;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f1962d;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 14px 16px;
  }

  .divButton {
    padding: 0px 16px 0px 16px
  }
  
  .col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 50%;
    padding: 15px;
  }

  .logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .tittle {
    padding: 0px 0px 0px 60px;
  }

  table {
    margin: 30px 0px 30px 56px;
  }
  
  #business {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #business td, #business th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #business tr:nth-child(even){background-color: #f2f2f2;}
  
  #business tr:hover {background-color: #ddd;}
  
  #business th {
    text-align: left;
    background-color: #f1962d;
    color: white;
  }

  .errorMsg {
    padding: 20px;
    background-color: #b91818;
    color: white;
  }

  .okMsg {
    padding: 20px;
    background-color: #1899b9;
    color: white;
  }

  .warnMsg {
    padding: 20px;
    background-color: #b9b618;
    color: white;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .column {
        width: 100%;
      }
  }